.login-root {
    -fx-background-color: #EEEEEE;
}

/* Left VBox */

.left-box {
    -fx-background-color: #D9CE52;
    -fx-alignment: center;
    -fx-spacing: 5;
}

.left-box Text {
    -fx-font-size: 2em;
    -fx-fill: #FFFFFF;
}

.left-box FontAwesomeIconView {
    -fx-fill: #ECF39E;
}

/* Login Form */

.login-form {
    -fx-spacing: 15;
}

.login-form Label {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.login-form TextField {
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 40;
    -fx-font-size: 1.2em;
}

.login-form Button {
    -fx-background-color: #D9CE52;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 360;
    -fx-pref-height: 40;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.login-form Button:hover {
    -fx-cursor: hand;
    /* do replace with animation, later */
}

.error-message {
    -fx-text-fill: #ff0000;
}